@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

 }
 header {
    width: 100%;
    top: 0;
    left: 0px;
    background: #FFF;
    position:fixed;
    box-shadow: 0px 0px 3px rgba(29, 27, 27, 0.363);
    }
nav {
        list-style: none;
        padding-left: 0;      
    }       
    nav ul li a{
        text-decoration: none;
        color:rgb(114, 113, 113);      
        font-size: 17px; 
        margin-left: 25px;
        font-weight: bold;
                
        }
                     
    
nav ul li {
         display:inline-block;
         padding:10px 0px;
         padding-right: 0px;
                     }
a:hover{
    color: #cd8aee;
}
            
#logo{
    margin-left: 30px;
    margin-top: 20px;
}
#liw{
    margin-left: 120px;
 }
#queroser{
    margin-right: 0px;
   background-color: #8931b6;
   margin-left: 1140px;
   text-align: center;
    top: 0px;
    position:fixed;
    color: white;  
    font-weight: bold;
    padding: 26px 15px;
    right: 0px;
    left: 0px;
    font-size: 16px
}
#image1{
    background-image: url('../img/womanjumping.jpg');
    background-repeat: no-repeat;
    height: 883px;
    background-size: 1200px;
    margin-left: 74px;
    margin-top: 10px;
    

}
h1{
    margin-left: 90px;
    color: white;
    font-size: 45px;
 }
 p{
     margin-left: 90px;
     color: white;
     font-size: 17px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
     margin-right: 870px;
    
    
 }
 #celular{
     padding: 13px 158px;
     margin-top: 80px;
 }
 
 #parte2{
     background-color: rgb(245, 245, 245);
     height: 705px;
    
}
h2{
    margin-left: 70px;
    color:grey;
    font-size: 45px;
    
}
#text1{
    margin-left: 73px;
    margin-right: 0;
    font-size: 16px;
    top: 0;
 }
#celular2{
    padding: 15px 100px;
    margin-top: 50px;
}
#parte3{
    background-color: white;
    height: 542px;

}
#parte3{
margin-right: 800px;
}
#parte4{
    background-color: rgb(92, 13, 138);
    height: 680px;
     }
h3{
        margin-left: 70px;
        color:grey;
        font-size: 45px;
        margin-right: 869px;
     }

#hand{
    margin-right: 165px;
    margin-top: 45px;
    padding: 3px 10px;
}
#celular3{
   margin-right: 80px;
   margin-left: 350px;
   margin-top: 45px;
}
#parte5{
    background-image: url('../img/people.jpg');
    height: 540px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;

}
h4{
    font-size: 45px;
    margin-left: 75px;
    margin-right:780px;
}
#parte6{
    background-image: url('../img/pessoas.jpg');
    height: 565px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#parte7{
    background-image: url('../img/sorrindo.jpg');
    height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
h5{
    font-size: 45px;
    margin-left: 75px;
    margin-right:930px;
}
#text2{
    margin-left: 0px;
    margin-right: 0;
    font-size: 16px;
    margin-top: 30px;
}
#parte8{
    background-color: rgb(17, 17, 17);
    height: 1210px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
}
#title{
    color: white;
    margin-left: 60px;
    font-weight: bold;
   text-align: left;
   line-height: 25px;
    
}
#esquerda{
    float:left;
    text-align: justify;
   width:50%;
}
#lojas{
    margin-left: 20px;
}
#parte9{
    background-color: rgb(17, 17, 17);
    height: 215px;
    border-top: solid 1px rgba(128, 128, 128, 0.123);
    
}
#endereço{
    font-size: 15px;
    margin-left: 45px;
    margin-right:845px;
    margin-top: 65px;
    font-weight: bold;
}
#logo3{
    margin-right: 20px;
 }
 #facebook{
     margin-left: 900px;
     margin-right: 20px;
 }
 #instagram{
     margin-left: 0px;
     margin-right:20px;
 }
 #linkedin{
     margin-left: 0px;
     margin-right: 20px;
 }
 #youtube{
     margin-left: 0px;
     margin-right: 20px;
      }
#twitter{
    margin-left: 0px;
    margin-right: 20px;
          
      }

#parte10{
    background-color: rgb(17, 17, 17);
    height: 110px;
    border-top: solid 1px rgba(128, 128, 128, 0.158);
    color: white;
    padding-left: 1070px;
    padding-top: 45px;
}
#pt{
    height: 15px;
    width: 25px;
}

#en{
    margin-left: 30px;
    margin-right:0px;
    height: 15px;
    width: 25px;
}
#queroser:hover{
background-color: #d38ff5;
}
#but:hover{
    background-color: #d38ff5;
    transition: 1s all;
}
#but{
    background-color: #8931b6;
    margin-left: 90px;
    text-align: center;
    color: white;  
    font-weight: bold;
    padding: 20px 33px;
    font-size: 16px